<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
<div id="main-view">
    <div>
        <span data-bind="text: @brand"></span>
    </div>
    <div data-bind="component: { name: 'data-table' , params: { items: items, columnMaps: columnMaps} }"></div>

</div>

<link rel="import" href="table-template.html" id="wx-data-table-templates">

<script src="../node_modules/moment/moment.js"></script>
<script src="../node_modules/lodash/lodash.js" ></script>
<script src="../node_modules/rx/dist/rx.all.js" ></script>
<script src="../node_modules/webrx/dist/web.rx.js" ></script>
<script src="../built/guid.js"></script>
<script src="../built/wx-data-grid.js"></script>
<script src="../built/main.js"></script>
</body>
</html>