
<template id="data-table-template-styled">
    <table class="mdl-data-table">
        <thead>
        <tr data-bind="foreach: columns">
            <th > <!-- th: <Column>Context -->
                <!--Header-->
                <span data-bind="component: { name: template || 'column-header'  , params: $data }">
                </span>
                <!--ToggleSearch-->
                <button class="mdl-button mdl-js-button mdl-button--icon"
                        data-bind="command: toggleSearchVisible, visible: canSort">
                    <i class="material-icons" >search</i>
                </button>
                <!--Sort-->
                <button class="mdl-button mdl-js-button mdl-button--icon"
                        data-bind="
                                command: toggleOrder,
                                visible: @canSort" >
                    <i class="material-icons" data-bind="text: order == 'asc' ? 'keyboard_arrow_down' : 'keyboard_arrow_up' ,"></i>
                </button>
                <!--Search Box-->
                <div data-bind="visible: canFilter && @isSortVisible">
                    <input type="text" data-bind="value: @filterTxt" class="mdl-textfield__input" />
                </div>
            </th>
        </tr>
        </thead>
        <tbody data-bind="foreach: rows">
        <tr data-bind="css: { 'mdl-data-table__select': @isSelected }, visible: @visible, foreach: cells" >
            <!--CELL-->
            <td data-bind="css: { 'cell-dirty' : @isDirty }" >
                <div style="display: flex">
                    <!--CheckBox-->
                    <div data-bind="if: isInputTypeOf('checkbox')">
                        <div data-bind="component: {
                            name:'wx-checkbox',
                            params: $data
                        }"></div>
                    </div>
                    <!--Text Field-->
                    <div data-bind="ifnot: isInputTypeOf('checkbox')">
                        <input data-bind="value: @value, attr: { type: getInputType() }"/>
                    </div>
                    <!--UNDO button-->
                    <div data-bind="visible: @isDirty" >
                        <button class="mdl-button mdl-button--icon"
                                data-bind="command: revertCmd">
                            <i class="material-icons">undo</i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<template id="column-header-template">
    <!--context: Column, desc: 'default header template, plain text'-->
    <span data-bind="text: header">
    </span>
</template>

<template id="column-header-checkbox-template">
    <!--context: Column, desc: 'default header template, plain text'-->
    <button class="mdl-button mdl-button--icon"
            data-bind="command: toggleValue">
        <i class="material-icons" data-bind="text: value | toggleCheckFilter "></i>
    </button>
</template>

<template id="wx-checkbox-template">
    <!--DataContext: { value: voolean , toggleValue: command} -->
    <button class="mdl-button mdl-button--icon"
            data-bind="command: toggleValue">
        <i class="material-icons" data-bind="text: value | toggleCheckFilter "></i>
    </button>
</template>
<template id="data-table-template">
    <table>
        <thead>
        <tr data-bind="foreach: columns">
            <th >
                <div >
                    <span data-bind="text: header"></span>
                    <div style="display: flex">
                        <div data-bind="visible: canFilter">
                            <input type="text" data-bind="value: @filterTxt"/>
                        </div>
                        <button data-bind="
                                text: order == 'asc' ? '\u25B2' : '\u25BC' ,
                                command: toggleOrder,
                                visible: @canSort" ></button>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody data-bind="foreach: rows">
        <tr data-bind="css: { 'row-selected': @isSelected }, visible: @visible, foreach: cells">
            <!--CELL-->
            <td data-bind="css: { 'cell-dirty' : @isDirty }" >
                <div style="display: flex">
                    <div data-bind="if: isInputTypeOf('checkbox') ">
                        <input data-bind="attr: { type: getInputType() }, checked: @value"/>
                    </div>
                    <div data-bind="ifnot: isInputTypeOf('checkbox')">
                        <input data-bind="value: @value, attr: { type: getInputType() }"/>
                    </div>
                    <div data-bind="visible: @isDirty" class="tooltip">
                        <span class="tooltiptext">Undo</span>
                        <button data-bind="command: revertCmd"> &#x27F3 </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>